<div>
 
        <h1>LISTADO DE USUARIOS:</h1>
        
        {{#each usuarios}}
     
            <ul>
                <li>Nombre:  {{this.name}}</li>
                <li>Edad: {{this.edad}}</li>
            </ul>

        {{/each}}
        
    
</div>
