<div>
    <h1>Registrate</h1>
    <form action="/users" method="POST">
        
        <label for="nombre">Ingrese nombre:</label>
        <input type="text" name="name" id="nombre">

        <label for="edad">Ingrese edad</label>
        <input type="number" name="edad" id="edad">

        <button type="submit">Enviar</button>
    </form>
</div>